
# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "in1" IOSTANDARD = LVCMOS33;
NET "state2" IOSTANDARD = LVCMOS33;
NET "out2" IOSTANDARD = LVCMOS33;
NET "out1" IOSTANDARD = LVCMOS33;
NET "in2" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
NET "state1" IOSTANDARD = LVCMOS33;
